.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #eef7ff;
  padding: 20px;
}

.project-section {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 800px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.project {
  margin-bottom: 30px;
}

.project h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #282c34;
}

.project p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.project a {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #282c34;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.project a:hover {
  background-color: #3e4a59;
  transform: translateY(-3px);
}
